$color-primary:#7CFC00;
$color-primary-dark:#61b60c;
$color-primary-light: rgb(177, 255, 98);
$color-white: rgba(112, 108, 108, 0.74);
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-icon: #FFD700;


$color-white: #fff;
$color-black: #000;
$default-font-size: 1.6rem;
